# =========================
# OS files
# =========================
.DS_Store

# =========================
# IDEs
# =========================
.idea/
.vscode/

# =========================
# Python
# =========================
**/__pycache__/
*.py[cod]
**/.venv/
**/venv/

# Environment files
.envrc
**/.env
**/application.properties

# =========================
# Node.js
# =========================
**/node_modules/
**/dist/

# =========================
# Java / Maven
# =========================
**/target/

# =========================
# Logs
# =========================
*.log